.result-detail__logo{
  width: 30%;
  height: 30%;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.result-detail{
  padding: 2rem;
}

li{
  list-style-position: inside;
}

.result-detail__overview{
  text-align: center;
  margin: 2rem 0;
}

.result-detail__title{
  font-size: 2rem;
  color: lightblue;
}

.result-detail__sub-title{
  color: gray;
}

p, ul{
  margin-bottom: 1rem;
}

.result-detail__button-container{
  margin-bottom: 1rem;
}